@font-face {
    font-family: "Gothic A1";
    font-weight: normal;
    src: url("GothicA1-Regular.ttf");
}

@font-face {
    font-family: "Gothic A1 Black";
    font-weight: bold;
    src: url("GothicA1-Black.ttf");
}